.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.main-title {
  color: #980;
  text-align: center;
}

.start-button {
  color: #980;
  background-color: #333;
  border-color: #980;
  border-radius: 30px;
  height: 100px;
  width: 250px;
  font-size: large;
}
.start-button:hover {
  color: #333;
  background-color: #980;
  border-color: #333;
  cursor: pointer;
}
